RewriteEngine on
# On ne redirige pas la page maintenance sur elle même pour éviter les boucles
#RewriteCond %{HTTP_HOST}   ^localhost.cfcavocats$
RewriteCond %{REQUEST_URI} !/maintenance/
RewriteCond %{REQUEST_URI} !/maintenance/index.html
# On ne redirige pas les feuilles de style (répertoire css) et les images (répertoire img)
RewriteCond %{REQUEST_FILENAME} !(css|img).+$
# On n'effectue pas la redirection pour l'adresse IP de la personne procédant à la maintenance
#CL
#RewriteCond %{REMOTE_ADDR} !^85\.169\.94\.168$
#OLotropp
#RewriteCond %{REMOTE_ADDR} !^86\.72\.188\.145$
# On redirige le reste sur la page de maintenance
RewriteRule (.*) /maintenance/ [R,L]